# Data Science Tools and Ecosystem

# Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

# Overview
Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. ggplot
3. Pandas

| Data Science Tools |
|-------------|
|R studio    |
|Jupiter Lab |
|GitHub      |
|Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
result = 5 + 3 * 2
print(result)  # Output: 11

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

# Display the result
print(hours)

3.3333333333333335

**Objectives:**
- List popular languages for Data Science.
- Explain the basics of arithmetic expressions in Python.
- Provide examples of using markdown cells for documentation.

## Author 
Yilan Liu